.btn-pmured {
  background-color: $pmured;
  color: white;
  transition: .3s;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 18px;

  &:hover {
    color: white;
    background-color: $pmudarkred;
  }
}
