.card-show {
  display: flex;
}

.card-details {
  margin-top: 50px;
  margin-left: 30px;
}

.show-vertical {
  flex-direction: column;
}

.name-title {
  text-transform: uppercase;
  text-align: center;
}

.form-booking {
  margin-top: 300px;
  margin-left: 100px;
}
