// IMG //
.card-show {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
}
.img-cheval {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
}

.format {
  padding: 20px;
  padding-left: 0px;
  width: 40%;
}

// DIV //
.show-vertical {
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  width: 60%;
}

.name-title {
  text-transform: uppercase;
  text-align: left;
  font-size: 40px;
}
.sous-title {
  text-transform: uppercase;
  text-align: left;
  margin-top: -15px;
  font-size: 15px;
  color: lightgrey;
  margin-bottom: 10px;
}
.paragraphedescrib {
  font-size: 12px;
  margin-top: -15px;
  color: darkgrey;
}

// CARD - 1 //
.card-format {
  overflow: hidden;
  height: 340px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.card-format img {
  height: 100%;
  width: 15%;
  object-fit: cover;
}
.card-format h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}
#cardformatpagging {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
}
.name-title-description {
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  height: 100%;
}
.name-title-describ {
  text-transform: uppercase;
  text-align: left;
  font-size: 40px;
}

// CARD - 2 //
.card-format2 {
  overflow: hidden;
  height: 440px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
}
.card-format2 img {
  height: 100%;
  width: 15%;
  object-fit: cover;
}

.card-format2 p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

#cardformat2pagging {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: 100%;
}
.orgalist {
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 5px;
  padding: 0;
}
#listicone li {
  margin-bottom: 20px;
}

#margin0 {
  margin-bottom: 0;
}

// LIGNE //
.separation {
  height: 80%;
  width: 1px;
  background-color: lightgrey;
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;
}

// FORM //
.container-form {
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 20px;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  height: 500px;
}
