.navbar-lewagon {
  justify-content: space-between;
  background: rgb(248, 248, 248);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.logo-font {
  font-family: $logo-font;
  font-size: 28px;
}

.nav-link-pmu {
  color: white;
  text-decoration: none;

  &:hover {
    color: $success;
  }
}
